## 20180328

In [1]:
print ("3번째 수업")

3번째 수업

In [2]:
123

123

In [3]:
456

456

In [4]:
1 + 2

3

In [5]:
1 + 3

4

In [6]:
7 / 4

1.75

In [7]:
-7 / 4

-1.75

In [8]:
7 // 4

1

In [9]:
7 % 4

3

In [10]:
1 - 0.9

0.09999999999999998

In [11]:
revenue = 98456
cost = 45000
profit = revenue - cost
print(profit)

53456

In [12]:
boy = "I am a boy"
boy

'I am a boy'

In [13]:
girl = "I am a girl"
girl

'I am a girl'

In [14]:
"I'm a girl"

"I'm a girl"

In [16]:
friend = """
I am a boy
I am a girl
"""
print(friend)

I am a boy
I am a girl

In [17]:
boy + ' ' + girl

'I am a boy I am a girl'

In [18]:
boy * 3

'I am a boyI am a boyI am a boy'

In [20]:
a = "Life is too short, You need Python"
a [0] + a[10] + a [30]

'Lot'

In [21]:
a[12:16]

'shor'

In [22]:
a [:]

'Life is too short, You need Python'

In [24]:
a [8:]

'too short, You need Python'

In [25]:
a [:20]

'Life is too short, Y'

In [26]:
a = "I love Phython!"
b = "You hate Phython!"

In [27]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year, month, day, weather)

2018 03 28 Sunny

In [28]:
print(year, '년', month, '월', day, '일', '날씨는', weather, '입니다.')

2018 년 03 월 28 일 날씨는 Sunny 입니다.

In [29]:
"{year}년 {month}월 {day}일 날씨는 {weather} 입니다."

'{year}년 {month}월 {day}일 날씨는 {weather} 입니다.'

In [30]:
"{year}년 {month}월 {day}일 날씨는 {weather} 입니다.".format(year=year, month=month, day=day, weather=weather)

'2018년 03월 28일 날씨는 Sunny 입니다.'

In [31]:
a = "나는 나다."
a.count('나')

2

In [32]:
a = "hobby"
a.index('b')

2

In [33]:
a = ","
a.join("금은동")

'금,은,동'

In [34]:
a = "I love Python"
a.upper()

'I LOVE PYTHON'

In [35]:
a= "I love Python"
a.lower()

'i love python'

In [38]:
a = " hi "
a.lstrip()

'hi '

In [39]:
a.rstrip()

' hi'

In [40]:
a.strip()

'hi'

In [41]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [42]:
a = "I love Python!"
b = "You hate Python!"

In [44]:
a.find('o')

3

In [45]:
b.index('o')

1

In [46]:
a.count('o')

2

In [47]:
a.upper()

'I LOVE PYTHON!'

In [48]:
b.lower()

'you hate python!'

In [50]:
a_6 = a[0:7]
a_6

'I love '

In [52]:
a_6.rstrip()

'I love'

In [53]:
pi = "3.141592"
sq_root = "1.41429"

In [54]:
"PI is {pi} and square root of 2 is {sq_root}".format(pi=pi, sq_root=sq_root)

'PI is 3.141592 and square root of 2 is 1.41429'

## 20180404

In [55]:
print("안녕하세요")

안녕하세요

In [56]:
print(123)

123

In [57]:
a = []
a

[]

In [58]:
b = [1, 2, 3]
b

[1, 2, 3]

In [59]:
c = ["Life", "is", "too", "short"]
c

['Life', 'is', 'too', 'short']

In [61]:
d = [1, 2, "Life", "is"]
d

[1, 2, 'Life', 'is']

In [62]:
e = [1, 2, ["Life", "is"]]
e

[1, 2, ['Life', 'is']]

In [63]:
[0, 5]

[0, 5]

In [64]:
a = [1, 2, 3]
a

[1, 2, 3]

In [65]:
a[1]

2

In [66]:
a[-1]

3

In [67]:
a[-3]

1

In [68]:
e

[1, 2, ['Life', 'is']]

In [69]:
e[2]

['Life', 'is']

In [70]:
e[2][0]

'Life'

In [71]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [73]:
b = a[0:2]
b

[1, 2]

In [74]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2]

In [75]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [76]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

In [77]:
a = [1, 2, 3]

In [78]:
a[2]= 4
a

[1, 2, 4]

In [79]:
a[2:3]

[4]

In [80]:
a[2:3] = ['a', 'b', 'c']
a

[1, 2, 'a', 'b', 'c']

In [81]:
a[2] = ['a', 'b', 'c']

In [82]:
a

[1, 2, ['a', 'b', 'c'], 'b', 'c']

In [83]:
a = [1, 2, 3]
del a[2]
a

[1, 2]

In [84]:
a = [1, 2, 3, 4]
del a[1:3]
a

[1, 4]

In [86]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [87]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [88]:
a = [1, 3, 4, 5, 2]
a.sort()
a

[1, 2, 3, 4, 5]

In [90]:
a = [1, 3, 4, 5, 2]
a.reverse()
a

[2, 5, 4, 3, 1]

In [91]:
a = [1, 2, 3]
a.index(3)

2

In [92]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [93]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [94]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [95]:
a = [1, 2, 3]
a.pop()

3

In [96]:
a

[1, 2]

In [97]:
a = [1, 2, 3, 1]
a.count(1)

2

In [98]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [99]:
a.append([5, 6])
a

[1, 2, 3, 4, 5, [5, 6]]

In [100]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = ('a', 'b')
print(t1, t2, t3, t4)

() (1,) (1, 2, 3) ('a', 'b')

In [101]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

In [104]:
dic = {'name':'stal', 'phone':'01012345678'}

In [105]:
print(dic)

{'name': 'stal', 'phone': '01012345678'}

In [106]:
dic['name']

'stal'

In [107]:
dic['phone']

'01012345678'

In [108]:
dic = {'name':'stal', 'name':'gurstal'}

In [109]:
dic['name']

'gurstal'

In [110]:
dic.keys()

dict_keys(['name'])

In [111]:
dic.values()

dict_values(['gurstal'])

In [112]:
3 > 1

True

In [113]:
1 < 3

True

In [114]:
if []:
    print("참")
    
else:
    print("거짓")

거짓

In [115]:
money = 0
if money:
    print("택시 탄다.")
    
else:
    print("걸어 간다.")

걸어 간다.

In [116]:
money = 2000
if money >= 3000:
    print("택시 타자")
    
else:
    print("걸어 가자")

걸어 가자

In [117]:
money = 2000
card = 1
if money >= 3000 or card:
    print("택시 타자")
    
else:
    print("걸어 가자")

택시 타자

In [118]:
pocket = ['paper', 'cellphone', 'card']
if 'money' in pocket:
    print("택시 타자")
    
else:
    if card:
        print("택시 타자")
        
    else:
        print("걸어 가자")

택시 타자

In [119]:
if 'money' in pocket:
    print("택시")
    
elif 'card' in pocket:
    print("택시")
    
else:
    print("걷기")

택시

In [120]:
w_states = ['CA', 'WA', 'AZ', 'UT', 'CO']
e_states = ['NJ', 'MA', 'NY', 'VA', 'PA']
w_states.sort()
print(w_states)
w_states.append('NV')
print(w_states)

['AZ', 'CA', 'CO', 'UT', 'WA']
['AZ', 'CA', 'CO', 'UT', 'WA', 'NV']

In [121]:
states = w_states + e_states
print(states)
states_5 = states[:5]
print(states_5)
states_9 = states[:-2]
print(states_9)
states.index('CO')

['AZ', 'CA', 'CO', 'UT', 'WA', 'NV', 'NJ', 'MA', 'NY', 'VA', 'PA']
['AZ', 'CA', 'CO', 'UT', 'WA']
['AZ', 'CA', 'CO', 'UT', 'WA', 'NV', 'NJ', 'MA', 'NY']

2

In [122]:
states_9

['AZ', 'CA', 'CO', 'UT', 'WA', 'NV', 'NJ', 'MA', 'NY']

In [123]:
regions = [('Northest', 55.3), ('Midwest', 66.9), ('South', 114.6), ('West', 71.9)]
sum = regions[0][1] + regions[1][1] + regions[2][1] + regions[3][1]
sum

308.70000000000005

In [126]:
print("The population of the {states} is {pop} million." .format(states = regions[0][0], pop = regions[0][1]))
print("The population of the {states} is {pop} million." .format(states = regions[0][0], pop = regions[0][1]))
print("The population of the {states} is {pop} million." .format(states = regions[0][0], pop = regions[0][1]))
print("The population of the {states} is {pop} million." .format(states = regions[0][0], pop = regions[0][1]))
print("The total population of USA is {pop} million." .format(pop = sum))

The population of the Northest is 55.3 million.

In [127]:
my_gpa = float(input('학점 입력: '))
if my_gpa >= 4.3:
    print("당신의 학점은 {my_gpa} 입니다." .format(my_gpa=my_gpa))
    print("당신은 최우수졸업생입니다.")
elif my_gpa >= 4.0:
    print("당신의 학점은 {my_gpa} 입니다." .format(my_gpa=my_gpa))
    print("당신은 우수졸업생입니다.")
else:
    print("당신의 학점은 {my_gpa} 입니다." .format(my_gpa=my_gpa))
    print("당신은 졸업생입니다.")

당신의 학점은 4.0 입니다.
당신은 우수졸업생입니다.

## 20180411

In [129]:
count = 0
while count < 10:
    count = count + 1
    
    print("{count} 번 찍었습니다." .format(count=count))
    
    if count == 10:
        print("나무가 넘어갑니다.")

1 번 찍었습니다.
2 번 찍었습니다.
3 번 찍었습니다.
4 번 찍었습니다.
5 번 찍었습니다.
6 번 찍었습니다.
7 번 찍었습니다.
8 번 찍었습니다.
9 번 찍었습니다.
10 번 찍었습니다.
나무가 넘어갑니다.

In [140]:
prompt = "1. 추가\n2. 삭제\n3. 리스트\n4. 나가기"

In [141]:
print(prompt)

1. 추가
2. 삭제
3. 리스트
4. 나가기

In [142]:
number = 0
while number != 4:
    print(prompt)
    number = int((input()))

1. 추가
2. 삭제
3. 리스트
4. 나가기
1. 추가
2. 삭제
3. 리스트
4. 나가기
1. 추가
2. 삭제
3. 리스트
4. 나가기
1. 추가
2. 삭제
3. 리스트
4. 나가기

In [143]:
coffee = 10
money = 300
while money:
    print("커피 나온다.")
    coffee = coffee - 1
    if not coffee:
        print("커피가 없습니다.")
        break

커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피가 없습니다.

In [144]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [145]:
3 % 2

1

In [146]:
4 % 2

0

In [147]:
test_list = {'one', 'two', 'three'}
for i in test_list:
    print(i)

three
two
one

In [148]:
scores = [90, 25, 67, 45, 80]

for i in scores:
    if i >= 60:
        print("합격!")
        
    else:
        print("불합격!")

합격!
불합격!
합격!
불합격!
합격!

In [149]:
scores = [90, 25, 67, 45, 80]

for i in scores:
    if i < 60: continue
    print(i, "합격!")

90 합격!
67 합격!
80 합격!

In [150]:
for i in range (5, 10):
    print(i)

5
6
7
8
9

In [151]:
len(scores)

5

In [152]:
range(len(scores))

range(0, 5)

In [153]:
fruits = ["사과", "배", "포도", "수박", "딸기", "귤"]
for fruit in fruits:
    print(fruit)

사과
배
포도
수박
딸기
귤

In [154]:
fruits.append("복숭아")
print(fruits)

['사과', '배', '포도', '수박', '딸기', '귤', '복숭아']

In [155]:
for fruit in fruits:
    if fruit == "복숭아": continue
    print(fruit)

사과
배
포도
수박
딸기
귤

In [156]:
import pandas as pd
import numpy as np

In [158]:
gapminder = pd.read_csv("gapminder.tsv", sep="\t")

In [159]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [160]:
gapminder.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [161]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [162]:
gapminder.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [165]:
gapminder.query("country == 'korea, Rep.' & year == 2007")

Empty DataFrame
Columns: [country, continent, year, lifeExp, pop, gdpPercap]
Index: []

In [166]:
gapminder.sort_values(by = ["year", "country"]).head()

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

In [167]:
gapminder[["pop", "gdpPercap"]].head()

        pop   gdpPercap
0   8425333  779.445314
1   9240934  820.853030
2  10267083  853.100710
3  11537966  836.197138
4  13079460  739.981106

In [173]:
gapminder.ix[100, "country"]

'Bangladesh'

In [174]:
gapminder.ix[1,3:5]

lifeExp     30.332
pop        9240934
Name: 1, dtype: object

In [170]:
gapminder.ix[0:10, "country"]

0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
Name: country, dtype: object